.header__logo_main {
  color: #fff;
}

@media screen and (max-width: 425px) {
  .header__logo_main {
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo_main {
    margin-bottom: 60px;
  }
}
