.details__item-text {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .details__item-text {
    font-size: calc((100vw - 320px) / (768 - 320) * (16 - 14) + 14px);
    line-height: calc((100vw - 320px) / (768 - 320) * (16 - 20) + 20px);
  }
}
